.booking {
  display: flex;
  gap: 20px;
  margin-left: 130px;
  svg {
    cursor: pointer;
    padding-left: 5px;
  }
  svg:hover {
    fill: red;
  }
  span {
    display: flex;
    align-items: center;
    color: white;
  }
}
