.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
  margin: 50px 100px;
  .card__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #666b6b;
    padding: 30px;
    border-radius: 10px;
    .card__button__box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      gap: 30px;
      .card__button-heart {
        background-color: #fff;
        svg {
          width: 30px;
          height: 30px;
        }
      }
      .card__button-heart-red {
        svg {
          fill: red;
        }
      }
      .card__button {
        display: flex;
        padding: 10px 50px;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        border-radius: 8px;
        background-color: #3c4242;
        max-width: 280px;
      }
      .card__button:hover {
        color: #121212;
        background-color: #666b6b;
      }
    }
  }
  .card__box-red {
    border: 1px solid red;
  }
  .box {
    .box__info {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding-top: 20px;
      gap: 20px;
      max-width: 400px;
    }
    .box__name,
    .box__color,
    .box__price,
    .box__article {
      color: #2a2f2f;
      font-size: 17.875px;
      font-weight: 700;
      line-height: 27.93px;
    }

    .box__picture {
    }
    .box__img {
      width: 350px;
      height: 350px;
    }
  }
}
