.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin: 100px 0px 100px 100px;

  .card__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #666b6b;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    .card__button__box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      gap: 20px;
      .card__button-heart {
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: #fff;
        svg {
          width: 30px;
          height: 30px;
        }
      }
      .card__button-heart-red {
        svg {
          fill: red;
        }
      }
      .card__button {
        display: flex;
        gap: 15px;
        padding: 10px 50px;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        border-radius: 8px;
        background-color: #3c4242;
        max-width: 280px;
      }
      .card__button:hover {
        color: #121212;
        background-color: #868686;
      }
    }
  }
  .card__box-red {
    border: 1px solid red;
  }
  .box {
    .box__info {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding-top: 20px;
      gap: 20px;
      max-width: 400px;
    }
    .box__name,
    .box__color,
    .box__price,
    .box__article {
      color: #2a2f2f;
      font-size: 17.875px;
      font-weight: 700;
      line-height: 27.93px;
    }

    .box__picture {
    }
    .box__img {
      width: 350px;
      height: 350px;
    }
    .box__counter {
      margin-top: 20px;
      width: 100%;
      max-width: 210px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .box__counter__button--decrement,
    .box__counter__button--increment {
      display: flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 20px;
      border-radius: 8px;
      background-color: #3c4242;
    }
    .box__counter__button--decrement:hover,
    .box__counter__button--increment:hover {
      color: #121212;
      background-color: #868686;
    }
  }
}
.card__button__buy {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 50%;
  top: 90px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
  background-color: #3c4242;
}
.card__button__buy:hover {
  color: #121212;
  background-color: #868686;
}
