.wrapper {
  text-align: center;
  min-height: 1000px;
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(75, 75, 75);

  .wrapper__box {
    margin: 0 auto;
    border: 1px solid black;
    background-color: white;
    max-width: 500px;
    min-height: 400px;
    border-radius: 5px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    z-index: 2;
  }
  .wrapper__box-second {
    background-color: rgb(115, 100, 100);
  }
}
.box {
  position: relative;

  .box__color {
    background-color: rgb(217, 217, 217);
    height: 100%;
    width: 100%;
    min-height: 150px;
    max-width: 300px;
  }

  .box__title {
    font-size: 30px;
    font-weight: bold;
  }
  .box__info {
    text-align: center;
    font-size: 18px;
  }
}
